{% extends 'app/base.html' %}
{% load static %}
{% load tool_tags %}
{% load jformat %}

{% block title %}{{ post.title }}{% endblock %}

{% block custom_style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.0/viewer.min.css" integrity="sha512-Fc9/kKwzRba1WYBdNR1vJtOvd7Pl9pWy7CSkhQmyci0PSgUqJfx6I+vZfhy1mXwRGl9iHDN70JAwkPsor9guuA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'app/css/post_detail.css' %}">
{% endblock %}

{% block main %}
    <div class="out">
        <div class="col-11 col-sm-10 mx-auto my-5 d-flex flex-column align-items-center top animate__animated animate__fadeInDown">
            <div class="pt-4 pb-0 mb-0">
                {% user_profile_image request.user "5rem" "5rem" profile_tag="a" has_title=True profile_classes="user-profile, publisher-profile, text-center" no_profile_tag_size="2rem" %}
            </div>
            <h1 class="title m-2 text-center mt-5">{{ post.title }}</h1>
            <div class="m-0 p-0 d-flex flex-column flex-lg-row justify-content-center">
                <b class="m-2 text-center">{% fws "user" "l" "1" %} 
                منتشر کننده: {{ post.publisher.get_name_or_username }}</b>
                <b class="m-2 text-center">{% fws "clock-o" "l" "1" %} 
                منتشر شده در تاریخ {{ post.created|jformat:"%Y/%m/%d در ساعت %H:%M"|en_nums_to_fa_nums }}</b> 
                <b class="m-2 text-center">{% fws "clock-o" "l" "1" %} 
                ویرایش شده در تاریخ {{ post.created|jformat:"%Y/%m/%d در ساعت %H:%M"|en_nums_to_fa_nums }}</b> 
            </div>
        </div>
    
        <div class="wow animate__animated animate__fadeInLeft">
            <div class="col-10 row line mx-auto mb-5"></div>
    
            <div class="col-11 col-sm-10 col-md-8 col-lg-7 mx-auto img-detail">
                <img class="col" id="image" src="{{ post.img.url }}" alt="{{ post.title }}">
            </div>
        </div>
        
        <div class="wow animate__animated animate__fadeInUp">
            <div class="col-11 col-sm-10 mx-auto my-5 d-flex flex-column flex-lg-row align-items-center justify-content-between bottom">
                <b class="m-2">{% fws "desktop" "l" "1" %} 
                سایز پیش فرض عکس: {{ post.original_size_image|en_nums_to_fa_nums }}</b>
                <b class="m-2">{% fws "list-alt" "l" "1" %} دسته بندی: {{ post.category }}</b>
                <b class="m-2">{% fws "eye" "l" "1" %} تعداد بازدید ها: {{ post.hits.count|en_nums_to_fa_nums }}</b>
                <b class="m-2">{% fws "heart" "l" "1" %}تعداد لایک ها: 
                <span id="like_count">{{ post.likes.active.count|en_nums_to_fa_nums }}</span></b>
                <b class="m-2">{% fws "download" "l" "1" %} تعداد دانلود ها: 
                <span id="downloads">{{ post.downloads.count|en_nums_to_fa_nums }}</span></b>
            </div>
            
            <div class="col-11 col-sm-10 col-md-8 col-lg-7 my-4 d-flex flex-column flex-xl-row mx-auto justify-content-center operation">
                <a href="
                {% url 'like' post.slug %}{% if not request.user.is_authenticated %}?next={{ request.path }}{% endif %}" 
                class="m-4 text-center" id="like">
                {% if not is_liked %}
                    {% fws "thumbs-up" "l" "1" %} لایک کردن عکس
                {% else %}
                    {% fws "thumbs-down" "l" "1" %}لغو لایک کردن عکس
                {% endif %}
                </a>
                <a href="
                {% url 'download' post.slug %}{% if not request.user.is_authenticated %}?next={{ request.path }}{% endif %}" 
                class="m-4 text-center" id="download">{% fws "download" "l" "1" %} بارگیری عکس</a>
                <div class="dropdown share m-0 p-0 text-center row">
                    <button class="m-4" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% fws "share-alt" "l" "1" %} اشتراک گذاری عکس</button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a target="_blank" class="dropdown-item text-right"
                        href="https://t.me/share/url?url={{ request.META.HTTP_HOST }}{{ request.path }}&text={{ post.title }}
                        ">{% fws "paper-plane" "l" "1" %} اشتراک گذاری در تلگرام</a>
                        <a target="_blank" class="dropdown-item text-right" href="https://api.whatsapp.com/send/?phone&text={{ request.META.HTTP_HOST }}{{ request.path }}&app_absent=0">
                        {% fws "whatsapp" "l" "1" %} اشتراک گذاری در واتساپ</a>
                        <a target="_blank" class="dropdown-item text-right" 
                        href="https://twitter.com/intent/tweet?url={{ request.META.HTTP_HOST }}{{ request.path }}&text={{ post.title }}">{% fws "twitter" "l" "1" %}اشتراک گذاری در توییتر</a>
                        <a href="#" class="dropdown-item text-right clipboard">
                            {% fws "clipboard" "l" "1" %}کپی کردن آدرس صفحه
                        </a>
                      </div>
                </div>
            </div>    
        </div>
    </div>

<!-- *** -->
<input type="hidden" id="is_downloaded" value="{{ is_downloaded|js }}">
<input type="hidden" id="download_number" value="{{ post.downloads.count }}">
<input type="hidden" id="is_auth" value="{{ request.user.is_authenticated|js }}">
<input type="hidden" id="img_size" value="{{ post.original_size_image|en_nums_to_fa_nums }}">
{% endblock %}

{% block custom_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.0/viewer.min.js" integrity="sha512-11Ip09cPitpyapqTnApnxupcQdX1fzWkRZZoEU+I0+IxrVxORGThseKL6O2s+qbBN7aTw7SDbk+rWFZ/LVmB7g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'app/js/post_detail.js' %}"></script>
{% endblock %}