{% extends 'app/base.html' %}
{% load category_navbar %}
{% load public_statistics_tag %}
{% load sidebar_tags %}
{% load tool_tags %}
{% load jformat %}

{% block float_items %}
    <!-- all items -->
    <div class="all-items container-fluid animate__animated">
        <div class="col-12 mb-4">
            <h2 class="text-center pb-4">{{ title }}</h2>
        </div>

        <div class="row col-12">
            {% for obj in post_list %}
                <div class="col-12 col-sm-10 col-md-6 col-lg-4 all-items-img mb-4 mx-auto">
                    <img class="img-fluid" src="{{ obj.img.url }}" alt="{{ obj.title }}" />
                    <div class="overlay d-flex flex-column align-items-center">
                        <div class="pt-4 pb-0 mb-0">
                            <a href="{% url 'account:about' obj.publisher.username %}" class="user-profile text-center" 
                                style="{% if obj.publisher.profile_image %}background-image: url('{{ obj.publisher.profile_image.url }}');{% endif %}
                                width: 3rem;height: 3rem;">
                                {% if not obj.publisher.profile_image %}
                                    <h5>{{ obj.publisher.get_name_or_username|first_letter_to_upper }}</h5>
                                {% endif %}
                                <b class="text-center">{{ obj.publisher.username }}</b>
                            </a>
                        </div>
                        <h5 class="text-center pb-4 px-4 mt-5">{{ obj.title|truncatechars:"50" }}</h5>
                        <a href="{% url 'post_detail' obj.slug %}">مشاهده این عکس</a>
                        <div class="d-flex">
                            <p class="mt-3 mx-2">{{ obj.download_count.count|en_nums_to_fa_nums }} <i class="fa fa-download mr-1"></i></p>
                            <p class="mx-2 mt-3">{{ obj.likes_count.count|en_nums_to_fa_nums }} <i class="fa fa-heart mr-1"></i></p>
                            <p class="mx-2 mt-3">{{ obj.hits.count|en_nums_to_fa_nums }} <i class="fa fa-eye mr-1"></i></p>
                        </div>
                        <p class="px-4 text-right"><span class="ml-1"><i class="fa fa-clock-o"></i></span> منتشر شده توسط <a class="publisher" href="{% url 'publisher_list' obj.publisher %}"><b>{{ obj.publisher.get_name_or_username }}</b></a> در تاریخ {{ obj.created|jformat:"%Y/%m/%d"|en_nums_to_fa_nums}} در ساعت {{ obj.created.time|jformat:"%H:%M"|en_nums_to_fa_nums }}</p>
                    </div>
                </div>
            {% empty %}
                <h5 class="text-center mx-auto empty">محتوایی موجود نیست ...</h5>
            {% endfor %}
            
            <div class="col-12 col-sm-10 col-md-12 mx-auto mt-5 pb-2 mx-auto">
                <button>بستن</button>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
{% endblock %}

{% block header %}
    {% category request %}
    <!-- title -->
    {% public_statistics request %}
{% endblock %}

{% block main %}
    <div class="slider_">
        <div class="container-fluid">
            <div class="d-flex flex-column">
                <aside class="col-12 col-md-10 mx-auto mt-5 mt-md-0 wow animate__animated animate__fadeInUp order-2">
                    {% sidebar request "6" %}
                </aside>
                <!-- slider -->
                <div class="col-12 col-md-10 mx-auto mt-5 mt-md-0 wow animate__animated animate__fadeInUp">
                    <div class="col-12 row line mb-4 mx-0 mx-md-2"></div>

                    <div class="lbl col-6 col-sm-5 col-md-4 col-lg-3 mx-0 mx-md-4 target-1">
                        <p class="text-center p-0 m-0" id="scroll-target">{{ title }}</p>
                    </div>

                    <br class="col-12" />

                    <div class="owl-carousel owl-theme mt-3 col-12 mx-0 mx-md-4">
                        {% for obj in post_list %}
                            <div class="slider-item">
                                <img src="{{ obj.img.url }}" alt="{{ obj.title }}" />
                                <div class="slider-item-overlay d-flex flex-column align-items-center">
                                    <div class="pt-4 pb-0 mb-0">
                                        <a href="{% url 'account:about' obj.publisher.username %}" class="user-profile text-center" 
                                            style="{% if obj.publisher.profile_image %}background-image: url('{{ obj.publisher.profile_image.url }}');{% endif %}
                                            width: 3rem;height: 3rem;">
                                            {% if not obj.publisher.profile_image %}
                                                <h5>{{ obj.publisher.get_name_or_username|first_letter_to_upper }}</h5>
                                            {% endif %}
                                            <b class="text-center">{{ obj.publisher.username }}</b>
                                        </a>
                                    </div>
                                    <h5 class="text-center px-4 pb-4 mt-4">{{ obj.title }}</h5>
                                    <a href="{% url 'post_detail' obj.slug %}">مشاهده این عکس</a>
                                    <div class="d-flex">
                                        <p class="mt-3 mx-2">{{ obj.download_count.count|en_nums_to_fa_nums }} <i class="fa fa-download mr-1"></i></p>
                                        <p class="mx-2 mt-3">{{ obj.likes_count.count|en_nums_to_fa_nums }} <i class="fa fa-heart mr-1"></i></p>
                                        <p class="mx-2 mt-3">{{ obj.hits.count|en_nums_to_fa_nums }} <i class="fa fa-eye mr-1"></i></p>
                                    </div>
                                    <p class="px-4 text-right"><span class="ml-1"><i class="fa fa-clock-o"></i></span> منتشر شده توسط <a class="publisher" href="{% url 'publisher_list' obj.publisher %}"><b>{{ obj.publisher.get_name_or_username }}</b></a> در تاریخ {{ obj.created|jformat:"%Y/%m/%d"|en_nums_to_fa_nums}} در ساعت {{ obj.created.time|jformat:"%H:%M"|en_nums_to_fa_nums }}</p>
                                </div>
                            </div>
                        {% empty %}
                            <h5 class="text-center empty">محتوایی موجود نیست ...</h5>
                        {% endfor %}
                    </div>

                    <div class="col-12 mt-4 mx-0 mx-md-3">
                        <button class="btn-block" id="showAllImages-btn-1">نمایش همه</button>
                    </div>
                    <!-- pagination -->
                        {% include 'app/partials/pagination.html' %}
                    <!-- end pagination -->
                </div>
                <!-- end slider -->
            </div>
        </div>
    </div>
{% endblock %}
<!-- Scroll Set -->