{% extends 'app/base.html' %}
{% load category_navbar %}
{% load public_statistics_tag %}
{% load sidebar_tags %}
{% load pagination %}
{% load tool_tags %}
{% load jformat %}

{% block float_items %}
    <!-- all items -->
    <div class="all-items container-fluid animate__animated">
        <div class="col-12 mb-4">
            <h2 class="text-center pb-4">{{ title }}</h2>
        </div>

        <div class="row col-12">
            {% for obj in post_list %}
                <div class="col-12 col-sm-10 col-md-6 col-lg-4 all-items-img mb-4 mx-auto">
                    <img class="img-fluid" src="{{ obj.img.url }}" alt="{{ obj.title }}" />
                    <div class="overlay d-flex flex-column align-items-center">
                        <div class="pt-4 pb-0 mb-0">
                            {% user_profile_image obj.publisher "3rem" "3rem" profile_tag="a" has_title=True profile_classes="user-profile, text-center" %}
                        </div>
                        <h5 class="text-center pb-4 px-4 mt-5">{{ obj.title }}</h5>
                        <a href="{% url 'post_detail' obj.slug %}">مشاهده این عکس</a>
                        <div class="d-flex">
                            <p class="mt-3 mx-2">{{ obj.downloads.count|en_nums_to_fa_nums }} 
                            {% fws "download" "r" "1" %}</p>
                            <p class="mx-2 mt-3">{{ obj.likes.count|en_nums_to_fa_nums }} 
                            {% fws "heart" "r" "1" %}
                            <p class="mx-2 mt-3">{{ obj.hits.count|en_nums_to_fa_nums }} 
                            {% fws "eye" "r" "1" %}</p>
                        </div>
                        <p class="px-4 text-right">{% fws "clock-o" "l" "1" %} منتشر شده توسط <a class="publisher" href="{% url 'publisher_list' obj.publisher %}"><b>{{ obj.publisher.get_name_or_username }}</b></a> در تاریخ {{ obj.created|jformat:"%Y/%m/%d"|en_nums_to_fa_nums}} در ساعت {{ obj.created.time|jformat:"%H:%M"|en_nums_to_fa_nums }}</p>
                    </div>
                </div>
            {% empty %}
                <h5 class="text-center mx-auto empty">محتوایی موجود نیست ...</h5>
            {% endfor %}
            
            <div class="col-12 col-sm-10 col-md-12 mx-auto mt-5 pb-2 mx-auto">
                <button>بستن</button>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
{% endblock %}

{% block header %}
    {% category request %}
    <!-- title -->
    {% public_statistics request %}
{% endblock %}

{% block main %}
    <div class="slider_">
        <div class="container-fluid">
            <div class="d-flex flex-column">
                <aside class="col-12 col-md-10 mx-auto mt-5 mt-md-0 wow animate__animated animate__fadeInUp order-2">
                    <div class="col d-lg-flex">
                        {% sidebar request "suggestion" 6 %}
                        {% sidebar request "popular" 6 %}
                    </div>
                    <div class="col d-lg-flex">
                        {% sidebar request "download" 6 %}
                        {% sidebar request "hit" 6 %}
                    </div>
                </aside>
                <!-- slider -->
                <div class="col-12 col-md-10 mx-auto wow animate__animated animate__fadeInUp">
                    <div class="d-flex flex-column flex-md-row mt-0 mt-md-4 mb-5">
                        <!-- filter -->
                        <div class="row mr-5 filter mt-4 mt-md-0">
                            <p class="ml-2 text-right">{% fws "align-right" "l" "1" %} ترتیب مرتب سازی بر اساس:</p>
                            <div class="dropdown">
                                <button state="1" class="btn dropdown-toggle" data-toggle="dropdown">
                                    {% fws "arrow-up" "l" "1" %} جدیدترین
                                </button>
                                <div class="dropdown-menu">
                                    <p state="1" class="dropdown-item py-2 text-right">
                                        {% fws "arrow-up" "l" "1" %} جدیدترین</p>
                                    <p state="2" class="dropdown-item py-2 text-right">
                                        {% fws "arrow-down" "l" "1" %} قدیمی ترین</p>
                                </div>
                            </div>
                        </div>

                        <div class="row mr-5 filter mt-4 mt-md-0">
                            <p class="ml-2 text-right">{% fws "align-right" "l" "1" %} مرتب سازی بر اساس:</p>
                            <div class="dropdown">
                                <button state="1" class="btn dropdown-toggle" data-toggle="dropdown">
                                    {% fws "calendar" "l" "1" %} تاریخ ایجاد
                                </button>
                                <div class="dropdown-menu">
                                    <p class="dropdown-item py-2 text-right" state="1">
                                        {% fws "calendar" "l" "1" %} تاریخ ایجاد</p>
                                    <p class="dropdown-item py-2 text-right" state="2">
                                        {% fws "eye" "l" "1" %} تعداد بازدید ها</p>
                                    <p class="dropdown-item py-2 text-right" state="3">
                                        {% fws "heart" "l" "1" %} تعداد لایک ها</p>
                                    <p class="dropdown-item py-2 text-right" state="4">
                                        {% fws "download" "l" "1" %} تعداد دانلود ها</p>
                                </div>
                            </div>
                        </div>

                        <div class="row p-0 m-0">
                            <button class="btn text-center text-nowrap mr-5 mt-4 mt-md-0" 
                            id="filter-btn">{% fws "filter" "l" "1" %} اعمال فیلتر</button>
                        </div>
                    </div>

                    <div class="col-12 row line mb-4 mx-0 mx-md-2"></div>
                    <div class="lbl col-6 col-sm-5 col-md-4 col-lg-3 mx-0 mx-md-4 target-1">
                        <p class="text-center p-0 m-0" id="scroll-target">{{ title }}</p>
                    </div>
                    <br class="col-12" />

                    <div class="owl-carousel owl-theme mt-2 col-12 mx-0 mx-md-4">
                        {% for obj in post_list %}
                            <div class="slider-item">
                                <img src="{{ obj.img.url }}" alt="{{ obj.title }}" />
                                <div class="slider-item-overlay d-flex flex-column align-items-center">
                                    <div class="pt-4 pb-0 mb-0">
                                        {% user_profile_image obj.publisher "3rem" "3rem" profile_tag="a" has_title=True profile_classes="user-profile, text-center" %}
                                    </div>
                                    <h5 class="text-center px-4 pb-4 mt-4">{{ obj.title }}</h5>
                                    <a href="{% url 'post_detail' obj.slug %}">مشاهده این عکس</a>
                                    <div class="d-flex">
                                        <p class="mt-3 mx-2">{{ obj.downloads.count|en_nums_to_fa_nums }} 
                                        {% fws "download" "r" "1" %}</p>
                                        <p class="mx-2 mt-3">{{ obj.likes.count|en_nums_to_fa_nums }} 
                                        {% fws "heart" "r" "1" %}</p>
                                        <p class="mx-2 mt-3">{{ obj.hits.count|en_nums_to_fa_nums }} 
                                        {% fws "eye" "r" "1" %}</p>
                                    </div>
                                    <p class="px-4 text-right">{% fws "clock-o" "l" "1" %}منتشر شده توسط <a class="publisher" href="{% url 'publisher_list' obj.publisher %}"><b>{{ obj.publisher.get_name_or_username }}</b></a> در تاریخ {{ obj.created|jformat:"%Y/%m/%d"|en_nums_to_fa_nums}} در ساعت {{ obj.created.time|jformat:"%H:%M"|en_nums_to_fa_nums }}</p>
                                </div>
                            </div>
                        {% empty %}
                            <h5 class="text-center empty">محتوایی موجود نیست ...</h5>
                        {% endfor %}
                    </div>

                    <div class="col-12 mt-4 mx-0 mx-md-3">
                        <button class="btn-block" id="showAllImages-btn-1">نمایش همه</button>
                    </div>
                    {% pagination request namespace context=view.get_context_data view_kwargs=view.kwargs %}
                </div>
                <!-- end slider -->
            </div>
        </div>
    </div>
{% endblock %}
<!-- Scroll Set -->