{% load static %}
{% load tool_tags %}

<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}پنل مدیریت{% endblock %}</title>
    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-v4-rtl/4.6.0-2/css/bootstrap-rtl.min.css" integrity="sha512-HOXrL8G/VWN9ezwNKEghc4/29guOS3QuWca9+YK8P0J+R6iC9Eeof55AgCRncJLKL+EQKRwJBza2cx0Xp1rdIg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" integrity="sha512-TECBPTD5Db97nlsJ/gGBBv9JLXg172YcGtrl/HHM4x9W++PPKEpHs61ogVd4x2omTgST1dIHoy2HeYWZzcZzHw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS Animate -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {% block float_items %}{% endblock %}

    <!-- loading -->
    <div class="loading">
        <div class="loading-circle"></div>
    </div>

    <!-- float items -->
    <div id="goTop" class="wow animate__animated">
        {% fws "angle-up" %}
    </div>

    <header>
        {% block header %}
            <div class="mx-auto col-10 col-md-8 col-lg-6 col-xl-4 top-bar mt-2">
                <nav>
                    <ul>
                        <li target="{% url 'post_list' %}">
                            {% fws "home" title="صفحه اصلی" %}</i>
                        </li>
                        <li class="{% if namespace == 'dashboard' %}active{% endif %}" 
                        target="{% set_dashboard_url 'dashboard' view_kwargs=view.kwargs %}">
                            {% fws "list" title="لیست عکس ها" %}
                        </li>
                        <li class="{% if namespace == 'post_create' %}active{% endif %}"
                        target="{% set_dashboard_url 'post_create' view_kwargs=view.kwargs %}">
                            {% fws "plus" title="اضافه کردن عکس" %}
                        </li>
                        <li>
                            {% fws "comment" title="پیام ها" %}
                        </li>
                    </ul>
                </nav>
                <div class="tubelight" style="display: none;">
                    <div class="light-ray"></div>
                </div>
            </div>
        {% endblock %}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        {% block footer %}{% endblock %}
    </footer>
</body>
<input type="hidden" id="event" value="{{ event }}">
<!-- Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- JS Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js" integrity="sha512-wV7Yj1alIZDqZFCUQJy85VN+qvEIly93fIQAN7iqDFCPEucLCeNFz4r35FCo9s6WrpdDQPi80xbljXB8Bjtvcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- JS Animation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- JS Alert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.0.18/sweetalert2.all.min.js" integrity="sha512-kW/Di7T8diljfKY9/VU2ybQZSQrbClTiUuk13fK/TIvlEB1XqEdhlUp9D+BHGYuEoS9ZQTd3D8fr9iE74LvCkA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- JS Tool -->
<script src="{% static 'app/js/tools.js' %}"></script>
<!-- My JS Code -->
<script src="{% static 'app/js/base.js' %}"></script>
<script src="{% static 'app/js/alerts.js' %}"></script>
<script src="{% static 'app/js/random_color_line.js' %}"></script>
<script src="{% static 'account/js/dashboard.js' %}"></script>
<!-- My CSS Code -->
<link rel="stylesheet" href="{% static 'account/css/dashboard.css' %}">
{% block custom_style %}
{% endblock %}
{% block custom_script %}
{% endblock %}
</html>