{% extends "account/base_dashboard.html" %}
{% load static %}
{% load tool_tags %}

{% block main %}
    <h1 class="mx-auto text-center mt-5 title">آمار عکس های {{ title }}</h1>
    <div class="line row mx-auto col-11 mt-5"></div>

    <div class="p-0 m-0">
        <div id="container" class="col-12 col-md-10 mx-auto mt-5"></div>
        <div class="col-12 col-md-10 mx-auto my-5 d-flex flex-column flex-lg-row 
        align-items-center justify-content-around bottom">
            <b class="m-2">{% fws "eye" "l" "1" %} تعداد کل بازدید ها: {{ hits_count|en_nums_to_fa_nums }}</b>
            <b class="m-2">{% fws "heart" "l" "1" %}تعداد کل لایک ها: 
            <span id="like_count">{{ likes_count|en_nums_to_fa_nums }}</span></b>
            <b class="m-2">{% fws "download" "l" "1" %} تعداد کل دانلود ها: 
            <span id="downloads">{{ downloads_count|en_nums_to_fa_nums }}</span></b>
        </div>
    </div>

    <div hidden id="stat">{{ stat }}</div>
{% endblock main %}

{% block custom_style %}
    <style>
        .title {
            color: var(--Main-Gray);
            font-weight: bold;
        }
        .bottom {
            color: var(--Main-Gray);
        }
        @media screen and (max-width: 575px) {
            .bottom b{
                font-size: .9rem;
            }
        }
    </style>
{% endblock custom_style %}

{% block custom_script %}
    <script src = "https://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'account/js/dashboard_statistics.js' %}"></script>
{% endblock custom_script %}