{% extends 'app/base.html' %}

{% block title %}بازنشانی رمز عبور{% endblock %}

{% block main %}
    <form class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto password-reset-confirm" method="POST">
        {% csrf_token %}
        <h4 class="text-center">بازنشانی رمز عبور</h4>
        <p class="p-0 m-0 mb-2 mt-2 text-right">رمز عبور جدید</p>
        <input type="password" name="new_password1" class="form-control"
        placeholder="رمز عبور شما" />
        <p class="p-0 m-0 mb-2 mt-2 text-right">تکرار رمز عبور جدید</p>
        <input type="password" name="new_password2" class="form-control"
        placeholder="تکرار رمز عبور شما" />
        <div class="form-check pt-3 text-right">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label mr-4">نمایش رمز عبور</label>
        </div>
                
        <button type="submit" class="btn btn-block mt-4">بازیابی رمز عبور</button>
    </form>
{% endblock %}

{% block footer %}{% endblock %}