{% extends 'account/base_dashboard.html' %}
{% load static %}
{% load tool_tags %}

{% block title %}ویرایش پست {{ post.title }}{% endblock title %}

{% block main %}
    <h1 class="my-5 mx-auto text-center title">ویرایش پست شما با آیدی {{ post.id|en_nums_to_fa_nums }}</h1>
    <div class="line col-11 col-sm-10 col-md-8 col-lg-6 mx-auto row mx-auto my-5"></div>
    <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto text-right my-5 user-settings wow animate__animated animate__fadeInDown">
        <form method="POST" enctype="multipart/form-data" name="post_update">{% csrf_token %}
            <h2 class="title mx-auto text-center my-2">عکس در حال حاضر</h2>
            <img class="my-4 mx-auto img-fluid show" src="{{ post.img.url }}" alt="{{ post.title }}">
            {% for field in form %}
                <p><label for="{{ field.id }}">{{ field.label }}:</label> {{ field }}</p>
            {% endfor %}
            <button type="submit" class="btn mt-3" id="update" disabled>اعمال تغییرات</button>
        </form>
    </div>
{% endblock main %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static 'account/css/form.css' %}">    
{% endblock custom_style %}

{% block custom_script %}
    <script src="{% static 'account/js/dashboard_validation.js' %}"></script>
    {% include 'account/partials/form_has_error.html' %}
{% endblock custom_script %}