{% extends 'account/base_dashboard.html' %}
{% load static %}
{% load tool_tags %}

{% block title %}ایجاد پست جدید {{ post.title }}{% endblock title %}

{% block main %}
    <h1 class="my-5 mx-auto text-center title">ایجاد پست جدید برای {{ title }}</h1>
    <div class="line col-11 col-sm-10 col-md-8 col-lg-6 mx-auto row mx-auto my-5"></div>
    <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto text-right my-5 user-settings">
        <form method="POST" enctype="multipart/form-data" name="post_create">{% csrf_token %}
            
            {% for field in form %}
                <p><label for="{{ field.id }}">{{ field.label }}:</label>{{ field }}</p>
            {% endfor %}
                
            <button type="submit" class="btn mt-3 dsb" id="create" disabled>ایجاد پست جدید</button>
        </form>
    </div>

    <div id="img_formats" hidden>{{ img_formats|js }}</div>
    <input type="hidden" id="img_width" value="{{ img_width|js }}">
    <input type="hidden" id="img_height" value="{{ img_height|js }}">
{% endblock main %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static 'account/css/form.css' %}">    
{% endblock custom_style %}

{% block custom_script %}
    <script src="{% static 'account/js/dashboard_validation.js' %}"></script>
    {% include 'account/partials/form_has_error.html' %}
{% endblock custom_script %}