{% extends 'app/base.html' %}
{% load static %}
{% load tool_tags %}

{% block title %}آمار حساب کاربری شما{% endblock %}

{% block main %}
    <div class="col-10 col-md-8 col-lg-6 mx-auto wow animate__animated animate__fadeInDown">
        <h2 class="text-center statistics-title my-5 py-5">{% fws "bar-chart" "l" "3" %} 
            آمار حساب کاربری {{ username }}</h2>
        <table class="table statistics">
            <tbody>
                <tr>
                    <th class="text-right">{% fws "picture-o" "l" "2" %}
                        تعداد پست ها</th>
                    <td class="text-right">{{ post_count|en_nums_to_fa_nums }}</td>
                </tr>
                <tr>
                    <th class="text-right">{% fws "heart" "l" "2" %}
                         تعداد لایک ها</th>
                    <td class="text-right">{{ like_count|en_nums_to_fa_nums }}</td>
                </tr>
                <tr>
                    <th class="text-right">{% fws "upload" "l" "2" %}
                        تعداد تمام درخواست ها</th>
                    <td class="text-right">{{ all_requests_count|en_nums_to_fa_nums }}</td>
                </tr>
                <tr>
                    <th class="text-right">{% fws "download" "l" "2" %}
                        تعداد درخواست های دانلود</th>
                    <td class="text-right">{{ requests_download_count|en_nums_to_fa_nums }}</td>
                </tr>
                <tr>
                    <th class="text-right">{% fws "search" "l" "2" %}
                        تعداد درخواست های جستجو</th>
                    <td class="text-right">{{ requests_search_count|en_nums_to_fa_nums }}</td>
                </tr>
                {% if not user.is_superuser %}
                    <tr>
                        <th class="text-right">{% fws "ban" "l" "2" %}
                            تعداد درخواست های غیر مجاز</th>
                        <td class="text-right">{{ excessive_requests_count|en_nums_to_fa_nums }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static 'account/css/statistics.css' %}">
{% endblock %}