{% extends 'app/base.html' %}
{% load static %}
{% load tool_tags %}

{% block title %}تنظیمات حساب کاربری{% endblock %}

{% block main %}
    <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto text-right my-5 user-settings">
        <h2 class="text-center my-5 pt-5">{% fws "cog" %} تنظیمات حساب کاربری {{ username }}</h1>
        <form method="POST" enctype="multipart/form-data" name="user_update_form">{% csrf_token %}
            <div class="user-profile mx-auto mb-5 d-flex justify-content-center align-items-center">
                {% user_profile_image user no_profile_tag="h1" no_profile_tag_size="4.5rem" %}
                {% if not user.profile_image %}
                    <div id="add_profile-btn" class="d-flex justify-content-center align-items-center">
                        {% fws "camera" %}
                    </div>
                    <input type="file" name="profile_image" accept="image/*" style="display: none;">
                {% else %}
                    <div id="delete_profile-btn" class="d-flex justify-content-center align-items-center">
                        {% fws "trash" %}
                    </div>
                    <input type="checkbox" name="profile_image-clear" style="display: none;">
                {% endif %}
            </div>
            <div class="d-flex flex-column flex-md-row p-0">
                <div class="col-12 col-md-6 p-0 ml-md-2">
                    <p>
                        <label for="{{ form.first_name.id }}" class="is_change">{{ form.first_name.label }}:</label>
                        {{ form.first_name }}
                        <small class="text-right p-0 m-0">{{ form.first_name.help_text }}</small>
                    </p>
                </div>
                <div class="col-12 col-md-6 p-0">
                    <p>
                        <label for="{{ form.last_name.id }}" class="is_change">{{ form.last_name.label }}:</label>
                        {{ form.last_name }}
                        <small class="text-right p-0 m-0">{{ form.last_name.help_text }}</small>
                    </p>
                </div>
            </div>
            <p>
                <label for="{{ form.username.id }}" class="is_change">{{ form.username.label }}:</label>
                {{ form.username }}
                <small class="text-right p-0 m-0">{{ form.username.help_text }}</small>
            </p>
            <p>
                <label for="{{ form.about_me.id }}" class="is_change">{{ form.about_me.label }}:</label>
                {{ form.about_me }}
                <small class="text-right p-0 m-0">{{ form.about_me.help_text }}</small><br>
                <small class="text-right">۱۵۰ / <span id="about_me_len">{{ user.about_me|length|en_nums_to_fa_nums }}</span></small>
            </p>
            {% if request.user.is_superuser or request.user == user %}
            <p>
                <label for="email-lbl">ایمیل: </label>
                <input class="mr-md-1" type="email" value="{{ user.email }}" id="email-lbl" readonly>
            </p>
            {% endif %}
            {% if request.user.is_superuser %}
            <div class="row">
                <div class="col-12 col-xl-6">
                    <label for="{{ form.is_superuser.id }}" class="ch">:{{ form.is_superuser.label }}</label>
                    {{ form.is_superuser }}
                </div>
                <div class="col-12 col-xl-6">
                    <label for="{{ form.is_active.id }}" class="ch">:{{ form.is_active.label }}</label>
                    {{ form.is_active }}
                </div>
            </div>
            {% else %}
            <p hidden>
                {{ form.is_superuser }}
            </p>
            <p hidden>
                {{ form.is_active }}
            </p>
            {% endif %}
            <button type="submit" class="btn mr-md-1 mt-3 dsb" id="change_profile-btn" disabled>اعمال تغییرات</button>
        </form>
    </div>

    {% if request.user == user %}
    <div class="col-11 col-sm-10 col-md-8 col-lg-6 mx-auto text-right my-5 user-settings">
        <h2 class="text-center my-5 pt-5">{% fws "trash" %} پاک کردن حساب کاربری</h1>
        <form method="POST" action="{% url 'account:user_delete' %}" id="delete_account-form">{% csrf_token %}
            <button class="btn mr-md-1 delete_account-btn">پاک کردن اکانت کاربری</button>
        </form>
    </div>
    {% endif %}

    <div id="img_formats" hidden>{{ img_formats|js }}</div>
    <input type="hidden" id="img_width" value="{{ img_width|js }}">
    <input type="hidden" id="img_height" value="{{ img_height|js }}">
{% endblock %}

{% block custom_style %}
    <link rel="stylesheet" href="{% static 'account/css/form.css' %}">
{% endblock %}

{% block custom_script %}
    <script src="{% static 'account/js/validation.js' %}"></script>
    {% include 'account/partials/form_has_error.html' %}
{% endblock %}