@import url(../../app/css/root.css);

.about {
    background-color: var(--Main-Gray);
    border: 2px solid var(--Main-Gray);
    color: var(--Main-Gray);
    border-radius: 5px;
    padding: 0;
}

.public-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Main-Gray);
    color: #fff;
    border-bottom: 2px solid var(--Main-Gray);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.public-profile h1 {
    font-size: 15em;
    font-weight: bolder;
}

.about .body .table {
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0;
}

.about .body .table tr:last-child td:nth-child(1) {
    border-bottom-right-radius: 4px;
}

.about .body .table tr:last-child td:nth-child(2) {
    border-bottom-left-radius: 4px;
}
.about .body .table td {
    padding: 1em;
}

.about .body .table h5 {
    font-weight: bold;
}

.about .body .table td {
    border-top: none;
}

.about .body .table tbody tr:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
}

.about .body .table tbody tr:nth-child(odd) {
    background-color: var(--Main-Red);
}

.about .body .table tbody tr:nth-child(even) {
    background-color: var(--Main-Blue);
}

.suggestion {
    position: static;
}

.suggestion h1 {
    color: var(--Main-Gray);
}