{% load tool_tags %}

<!-- filter -->
<div class="d-flex flex-column flex-md-row mt-0 mt-md-4 mb-5">
    <div class="row mr-5 filter mt-4 mt-md-0">
        <p class="ml-2 text-right">{% fws "align-right" "l" "1" %} ترتیب مرتب سازی بر اساس:</p>
        <div class="dropdown">
            <button state="1" class="btn dropdown-toggle" data-toggle="dropdown">
                {% fws "arrow-up" "l" "1" %} جدیدترین
            </button>
            <div class="dropdown-menu">
                <p state="1" class="dropdown-item py-2 text-right">
                    {% fws "arrow-up" "l" "1" %} جدیدترین</p>
                <p state="2" class="dropdown-item py-2 text-right">
                    {% fws "arrow-down" "l" "1" %} قدیمی ترین</p>
            </div>
        </div>
    </div>

    <div class="row mr-5 filter mt-4 mt-md-0">
        <p class="ml-2 text-right">{% fws "align-right" "l" "1" %} مرتب سازی بر اساس:</p>
        <div class="dropdown">
            <button state="1" class="btn dropdown-toggle" data-toggle="dropdown">
                {% fws "calendar" "l" "1" %} تاریخ ایجاد
            </button>
            <div class="dropdown-menu">
                <p class="dropdown-item py-2 text-right" state="1">
                    {% fws "calendar" "l" "1" %} تاریخ ایجاد</p>
                <p class="dropdown-item py-2 text-right" state="2">
                    {% fws "eye" "l" "1" %} تعداد بازدید ها</p>
                <p class="dropdown-item py-2 text-right" state="3">
                    {% fws "heart" "l" "1" %} تعداد لایک ها</p>
                <p class="dropdown-item py-2 text-right" state="4">
                    {% fws "download" "l" "1" %} تعداد دانلود ها</p>
            </div>
        </div>
    </div>

    <div class="row p-0 m-0">
        <button class="btn text-center text-nowrap mr-5 mt-4 mt-md-0" 
        id="filter-btn">{% fws "filter" "l" "1" %} اعمال فیلتر</button>
    </div>
</div>