{% load category_navbar %}
{% load tool_tags %}
<nav class="my-navbar">
    <div class="container-fluid">
        <div class="row col-12 d-flex justify-content-between align-items-center">
            <!-- title -->
            <div class="title">
                <a class="navbar-link" href="{% url 'post_list' %}">
                    <h3><span><i class="fa fa-image"></i></span> عکس کده</h3>
                </a>
            </div>

            <!-- menu bar -->
            <div class="menu-bar d-flex d-xl-none">
                <span><i class="fa fa-bars"></i></span>
            </div>

            <!-- upload -->
            <div class="row upload">
                {% if not request.user.is_authenticated %}
                    <a href="#" onclick="$('.login-link').click()">
                        <span><i class="fa fa-upload"></i></span> آپلود عکس</a>
                {% else %}
                    <a href="#"><span><i class="fa fa-upload"></i></span> آپلود عکس</a>
                {% endif %}
            </div>

            <!-- category -->
            <div class="overlay-nav"></div>
            <ul class="row list-unstyled flex-column flex-lg-row">
                <li class="d-block d-xl-none">
                    <span><i class="fa fa-close"></i></span>
                </li>
                {% for c in category %}
                    <li class="link text-right">
                        <a class="navbar-link" href="{% url 'category_list' c.slug %}">
                            {{ c.title }}<span class="mr-2"><i class="fa fa-image"></i></span>
                        </a>
                    </li>
                {% endfor %}
                {% if other_category %}
                    <li class="other-link">
                        <span>سایر دسته بندی ها<span class="mr-2 d-none d-xl-inline"><i class="fa fa-ellipsis-v"></i></span><span class="mr-3 d-xl-none angle-down"><i class="fa fa-angle-down"></i></span></span>
                        <ul class="list-unstyled animate__animated" data-is-open="false">
                            {% for c in other_category %}
                                <li class="link text-right">
                                    <a class="navbar-link" href="{% url 'category_list' c.slug %}">
                                        {{ c.title }}<span class="mr-2"><i class="fa fa-image"></i></span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                <li class="contact-link">
                    ارتباط با ما<span class="mr-2"><i class="fa fa-phone"></i></span>
                </li>
            </ul>

            <!-- registration -->
            <div class="registration">
                {% if not request.user.is_authenticated %}
                    <a href="#" class="login-link">ورود / ثبت نام</a>
                {% else %}
                    <div class="dropdown profile" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if not request.user.img %}
                            <h5>
                                {{ request.user.get_name_or_username|first_letter_to_upper }}
                            </h5>
                        {% endif %}

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item text-right" href="#"><span style="margin-left: 5px;"><i class="fa fa-tasks"></i></span> مدیریت عکس های شما</a>
                            <a class="dropdown-item text-right" href="#"><span style="margin-left: 5px;"><i class="fa fa-cog"></i></span> تنظیمات حساب کاربری</a>
                            <a class="dropdown-item text-right" href="{% url 'account:statistics' %}"><span style="margin-left: 5px;"><i class="fa fa-bar-chart"></i></span> آمار حساب شما</a>
                            <a class="dropdown-item text-right" 
                            href="{% url 'account:logout' %}?next={{ request.path }}">
                            <span style="margin-left: 5px;"><i class="fa fa-sign-out"></i></span> خروج</a>
                          </div>
                    </div>
                {% endif %}
            </div>

            <!-- search button -->
            <div class="search-btn animate__animated">
                <span><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
</nav>