{% load category_navbar %}
{% load tool_tags %}

<nav class="my-navbar">
    <div class="container-fluid">
        <div class="row col-12 d-flex justify-content-between align-items-center">
            <!-- title -->
            <div class="title">
                <a class="navbar-link" href="{% url 'post_list' %}">
                    <h3>{% fws "image" %} عکس کده</h3>
                </a>
            </div>

            <!-- menu bar -->
            <div class="menu-bar d-flex d-xl-none">
                {% fws "bars" %}
            </div>

            <!-- upload -->
            <div class="row upload d-none d-md-block">
                {% if not request.user.is_authenticated %}
                    <a href="#" onclick="$('.login-link').click()">
                        {% fws "upload" %} آپلود عکس</a>
                {% else %}
                    <a href="{% url 'account:post_create' %}">{% fws "upload" %} آپلود عکس</a>
                {% endif %}
            </div>

            <!-- category -->
            <div class="overlay-nav"></div>
            <ul class="row list-unstyled flex-column flex-lg-row">
                <li class="d-block d-xl-none">
                    {% fws "close" %}
                </li>
                {% for c in category %}
                    <li class="link text-right">
                        <a class="navbar-link" href="{% url 'category_list' c.slug %}">
                            {{ c.title }}{% fws "image" "r" "2" %}
                        </a>
                    </li>
                {% endfor %}
                {% if other_category %}
                    <li class="other-link">
                        <span>سایر دسته بندی ها{% fws "ellipsis-v" "r" "2" "d-none, d-xl-inline" %}
                        {% fws "angle-down" "r" "2" "d-xl-none" %}</span>
                        <ul class="list-unstyled animate__animated" data-is-open="false">
                            {% for c in other_category %}
                                <li class="link text-right">
                                    <a class="navbar-link" href="{% url 'category_list' c.slug %}">
                                        {{ c.title }}{% fws "image" "r" "2" %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                <li class="contact-link">
                    <a href="mailto:{{ email }}" class="navbar-link">ارتباط با ما{% fws "phone" "r" "2" %}</a>
                </li>
            </ul>

            <!-- registration -->
            <div class="registration">
                {% if not request.user.is_authenticated %}
                    <a href="#" class="login-link">ورود / ثبت نام</a>
                {% else %}
                    <div class="dropdown profile" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% user_profile_image request.user %}
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a href="{% url 'account:about' %}" class="dropdown-item text-right">
                            {% fws "user" "l" "1" %} پروفایل عمومی شما</a>
                            <a class="dropdown-item text-right" href="{% url 'account:dashboard' %}">
                            {% fws "tasks" "l" "1" %} مدیریت عکس های شما</a>
                            <a class="dropdown-item text-right" href="{% url 'account:settings' %}">
                            {% fws "cog" "l" "1" %} تنظیمات حساب کاربری</a>
                            <a class="dropdown-item text-right" href="{% url 'account:statistics' %}">
                            {% fws "bar-chart" "l" "1" %} آمار حساب کاربری شما</a>
                            <a class="dropdown-item text-right" href="{% url 'account:logout' %}?next={{ request.path }}">
                            {% fws "sign-out" "l" "1" %} خروج</a>
                          </div>
                    </div>
                {% endif %}
            </div>

            <!-- search button -->
            <div class="search-btn animate__animated">
                {% fws "search" %}
            </div>
        </div>
    </div>
</nav>