{% load public_statistics_tag %}
{% load tool_tags %}

<div class="main-title">
    <div class="overlay container-fluid d-flex">
        <div class="col-12 d-flex flex-wrap align-content-around">
            {% if not request.user.is_authenticated %}
                <div class="col-12 col-md-8 wow animate__animated animate__fadeInRight" data-wow-delay="200ms"><h1 class="text-right">این سایت برای به اشتراک گذاشتن عکس های شماست!</h1></div>
                <div class="col-12 col-md-8 wow animate__animated animate__fadeInRight" data-wow-delay="400ms"><h1 class="text-right">در این سایت می توانید عکس هایی که کاربران آپلود کرده اند را دانلود کنید!</h1></div>
                <div class="col-12 col-md-8 wow animate__animated animate__fadeInRight" data-wow-delay="600ms"><h1 class="text-right">شما می توانید با ثبت نام کردن در سایت عکس آپلود کنید!</h1></div>
            {% else %}
                <div class="col-12 col-md-8 wow animate__animated animate__fadeInRight" data-wow-delay="200ms"><h1 class="text-right">{% fws "picture-o" "l" "1" %} تعداد عکس های سایت: {{ post_count|en_nums_to_fa_nums }}</h1></div>
                <div class="col-12 col-md-8 wow animate__animated animate__fadeInRight" data-wow-delay="400ms"><h1 class="text-right">{% fws "user" "l" "1" %} تعداد کاربران سایت: {{ user_count|en_nums_to_fa_nums }}</h1></div>
                <div class="col-12 col-md-8 wow animate__animated animate__fadeInRight" data-wow-delay="600ms"><h1 class="text-right">{% fws "download" "l" "1" %} تعداد دانلود های سایت: {{ downloads|en_nums_to_fa_nums }}</h1></div>
            {% endif %}
        </div>
    </div>
</div>